.App {
  text-align: center;
  background-image: url('./puffin_bg.jpg');
  height: 1000px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 400px;
  padding: 20px;
  color: white;
}

.nav-bubble {
  display: none;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 400px;
  background-image: url('./bubble1.png');
  /*transform:scaleX(-1);*/
  margin-top: -100px;
}

.nav-bubble span {
  transform:scaleX(-1);
}

.App:hover .nav-bubble {
  display: block;
}

.nav-bubble-text {
  padding-top: 150px;
}

.nav-bubble-text ul {
  list-style: none;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
